body{
	background-color: #f6f6f6;
	padding: 0px;
	margin:0px;
	font: 12px/1.5 Microsoft YaHei,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
p{
    margin:0px;
}
li{
    list-style: none;
}
ul{
    padding:0px;
    margin:auto;
}
.pt_cover .pt_ico1212 {
    position: absolute;
    top: 110px;
    left: 20px;
}
 .pt_ico1212 {
    display: block;
    width: 40px;
    height: 26px;
    background: url(../images/272.jpg) no-repeat 0 0;
}
.ul-yin{
    background:white;
}
.dt ul{
    border: 1px solid #D5D5D5;
    text-align: center;
    position: absolute;
    margin-top: -2px;
    margin-left:-7px;
    display: none;
}
.dt:hover ul{
    display: block;
     z-index: 22;
     width: 70px;
}
#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}
.w {
    margin: auto;
    width: 1190px;
}
.fl{
    float: left;
    padding:0px;
    margin:0px;
}
#shortcut li{
    float: left;
}
#ttbar-mycity{
    margin-left:200px;
}
#shortcut .dt {
    padding-left: 7px;
    padding-right: 7px;
}
#shortcut .dt:hover{
    background: white;
}
#shortcut .dt-1:hover{
    background: #e3e4e5;
}
#shortcut .cw-icon {
    height: 28px;
    line-height: 28px;
}
.jing{
    position: relative;
    top: 6px;
}
.fr{
    float: right;
    padding:0px;
    margin:0px;
}
#ttbar-login {
    margin-right: 8px;
}
#shortcut li.spacer {
overflow: hidden;
margin: 11px 5px 0;
width: 1px;
height: 10px;
background-color: #ccc;
}
#shortcut .style-red {
    color: #f10215;
}
#shortcut li a {
    color: #999;
}
#shortcut li a:hover {
    color: #C90D0D;
}
#header .w {
position: relative;
top: 0;
left: 0;
height: 140px;
}
#logo{
position:absolute;
z-index: 2;
left: 0;
top: -31px;
width: 190px;
height: 171px;
box-shadow: 0 -12px 10px rgba(0,0,0,.2);
background-color: #fff;
}
.search-m {
position: relative;
z-index: 1;
height: 60px;
}
.search-m .from{
position: absolute;
left: 340px;
top: 25px;
width: 550px;
height: 35px;
}
.search-m .text {
left: 0;
padding: 4px;
width: 490px;
height: 25px;
border: 1px solid #f10215;
line-height: 25px;
font-size: 14px;
color: #989898;
}
.search-m .sousuo{
    position: relative;
    left: 500px;
    top: -35px;
}
#settleup {
position: absolute;
right: 0;
top: 25px;
}
.dorpdown {
z-index: 21;
}
#settleup .cw-icon {
width: 188px;
height: 33px;
background-color: #fff;
text-align: center;
line-height: 33px;
}
#hotwords{
overflow: hidden;
position: absolute;
left: 340px;
top: 65px;
width: 550px;
height: 20px;
line-height: 20px;
}
#hotwords a {
float: left;
margin-right: 10px;
white-space: nowrap;
color: #999;
}
#header .style-red {
color: #f10215;
}
#hotwords a:hover{
color: #C81623;
}
#navitems{
position: absolute;
left: 200px;
bottom:0px;
}
#navitems ul{
margin:0;
padding:0;
float: left;
}
#navitems ul li{
margin-left:30px;
float: left;
}
#navitems a {
position: relative;
display: block;
height: 40px;
line-height: 40px;
font-size: 16px;
font-weight: 700;
}
#navitems a:hover{
color: #c81623;
}
.fs{
position: relative;
z-index: 9;
margin-bottom: 20px;
}
.grid_c1{
margin: 0 auto;
width: 1190px;
}
.fs_inner{
position: relative;
z-index: 1;
height: 480px;
background-color: #f6f6f6;
}
.fs_act {
    display: block;
    width: 100%;
}
.fs_col1{
float: left;
width: 190px;
height: 100%;
margin-right: 10px;
}
.cate {
position: relative;
z-index: 0;
}
.cate_menu {
margin:0px;
overflow: hidden;
padding: 15px 0;
height: 450px;
background-color: #6c6669;
color: #fff;
}
.cate_menu_item {
overflow: hidden;
padding-left: 12px;
height: 30px;
line-height: 30px;
font-size: 0;
}
.cate_menu_lk {
font-size: 14px;
color: #fff;
}
.cate_menu_line {
padding: 0 4px;
font-size: 12px;
}
.cate ul li a:hover{
color: #c81623;
}
.cate_menu .cate_menu_item{
    background-color: #6c6669;
}
.cate_menu .cate_menu_item:hover{
    background-color: #999395;
}
.fs_col2 {
float: left;
width: 790px;
height: 100%;
}
.slider_main {
position: relative;
margin-bottom: 10px;
height: 340px;
z-index: 1;
}
.slider_extend {
margin-left: -10px;
height: 130px;
width: 800px;
}
.slider_bi {
overflow: hidden;
float: left;
width: 390px;
height: 130px;
}
.fs_col3 {
float: right;
margin-left: 10px;
width: 190px;
height: 100%;
background-color: #fff;
}
.user {
padding: 0 10px;
height: 115px;
border-bottom: 1px solid #e6e6e6;
}
.user_info{
overflow: hidden;
position: relative;
padding: 15px 0 15px 60px;
height: 45px;
}
.user_profit{
overflow: hidden;
height: 24px;
font-size: 0;
}
.user_info_avatar{
overflow: hidden;
position: absolute;
margin-left: -60px;
width: 45px;
height: 45px;
}
.user_info_avatar img {
display: block;
height: 100%;
border-radius: 23px;
}
.user_info_show p{
margin:0px;
overflow: hidden;
margin-top: 2px;
width: 100%;
white-space: nowrap;
text-overflow: ellipsis;
}
.user_info_show a{
margin-right: 5px;
color: #000;
}
.user_info_show a:hover{
color: #c81623;
}
.user_profit a {
display: inline-block;
margin-right: 10px;
width: 70px;
height: 20px;
border: 2px solid #e01222;
line-height: 20px;
font-size: 12px;
text-align: center;
color: #e01222;
}
.user_profit a:hover{
background-color: #e01222;
color: white;
}
.news {
overflow: hidden;
padding: 0 15px;
height: 118px;
}
.news .mod_tab_head {
padding: 8px 0 4px;
border-bottom: 1px solid #e6e6e6;
position: relative;
line-height: 14px;
}
.news .mod_tab_content {
padding: 12px 0;
}
.news .news_first {
padding-left: 0;
}
.news .news_last {
padding-right: 0;
border-right: 0;
}
.news_more {
position: absolute;
right: 0;
top: 8px;
}
.news .mod_tab_head_item {
color: #333;
padding-right: 12px;
border-right: 1px solid #dfe0e1;
}
.news_tab_active {
position: absolute;
bottom: -1px;
left: -2px;
width: 28px;
height: 2px;
background: #db192b;
transition: transform .3s ease,-webkit-transform .3s ease,-moz-transform .3s ease;
}
.news .mod_tab_content {
padding: 12px 0;
}
.news .mod_tab_content_item {
    display: none;
}
.news .mod_tab_content_item_on {
    display: block;
}
.news_item {
line-height: 22px;
}
.service {
    overflow: hidden;
    position: relative;
    height: 210px;
}
.sk {
    height: 305px;
}
.sk .box_hd{
    background: #D30A0A;
}
.sk_inner {
    overflow: hidden;
}
.sk .box_bd {
    padding: 12px 0 13px;
    height: 225px;
    overflow: hidden;
}
.sk_list_wrapper {
    float: left;
    width: 1000px;
}
.sk_list {
    color: #999;
}
.sk_item {
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
}
.sk_item_pic {
    position: relative;
    text-align: center;
}
.sk_item_name {
    color: #999;
    display: block;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
}
.sk_item_price {
    padding: 3px 0;
    height: 25px;
}
.sk_item_pic_lk {
    display: block;
    outline: 0;
}
.sk_item_pic_lk:hover .sk_item_name {
    color: #c81623;
}
.mod_price {
    color: #f10214;
}
.sk_item_price_new {
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}
.sk_item_price_origin {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}
.sk_special {
    margin: 0 10px 0 0;
    float: right;
}
.miaosha a:hover{
    color: red;
}
.enjoy_tit {
    float: left;
    width: 198px;
    height: 390px;
    overflow: hidden;
}
.enjoy_tit_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.enjoy_wrapper {
    float: left;
    width: 980px;
}
.enjoy_act {
    float: left;
}
.enjoy_act_list {
    width: 1000px;
    height: 387px;
    overflow: hidden;
}
.enjoy_act_item {
    float: left;
    width: 188px;
    height: 184px;
    margin: 10px 10px 0 0;
    overflow: hidden;
}
.enjoy_inner {
    overflow: hidden;
}
.enjoy_main {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}
.enjoy1 .enjoy_bg {
    background: url(../images/259.jpg) center 0 no-repeat;
}
.enjoy_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
    outline: 0;
    z-index: 1;
}
.enjoy {
    position: relative;
    margin-bottom: 30px;
}
.enjoy {
    height: 400px;
}
.fbt {
height: 444px;
}
.fbt, .sk {
margin-bottom: 30px;
}
.fbt_col1 {
margin-right: 10px;
}
.fbt_col2 {
margin-right: 10px;
}
.fbt_col1, .fbt_col2, .fbt_col3 {
width: 390px;
height: 444px;
float: left;
overflow: hidden;
}
.find .box_hd {
background: #4998a1; 
}
.find .box_bd {
padding: 10px;
height: 369px;
}
.find_list {
width: 370px;
height: 363px;
overflow: hidden;
}
.find_item {
float: left;
border-right: 1px solid #e7e7e7;
border-bottom: 1px solid #e7e7e7;
}
.find_item_2, .find_item_4, .find_item_6 {
border-right: 0;
margin-right: -1px;
}
.find_item_lk {
display: block;
width: 185px;
height: 120px;
position: relative;
}
.find_item_name {
margin:0px;
font-size: 14px;
color: #4998a1;
position: absolute;
top: 15px;
left: 20px;
width: 80px;
line-height: 20px;
}
.find_item_img {
position: absolute;
bottom: 5px;
right: 10px;
}
.brand .box_hd{
background:#7d2e5c;
}
.top .box_hd{
background: #e77005;
}
.box_hd {
position: relative;
padding: 0 20px 0 30px;
height: 55px;
line-height: 55px;
color: #fff;
}
.box_bd {
background-color: #fff;
}
.box_tit {
margin:0px;
font-family: 幼圆;
font-size: 26px;
font-weight: 400;
line-height: 40px;
height: 40px;
padding-top: 9px;
}
.box_subtit {
float: right;
margin-top: -30px;
height: 24px;
line-height: 24px;
font-size: 14px;
color: #fff;
}
.box_subtit:hover {
color: #fff;
}
.brand .box_bd {
padding: 10px;
height: 369px;
}
.brand_rec {
margin-bottom: 12px;
}
.brand_rec_lk {
display: block;
padding: 15px 22px 10px 23px;
border-right: 1px solid #e7e7e7;
}
.brand_rec_lk_wrapper_2 .brand_rec_lk {
border-right: 0;
}
.brand_rec_lk_wrapper {
float: left;
width: 185px;
}
.brand_rec_name {
    margin:auto;
    font-size: 16px;
    color: #8b3a6d;
    margin-bottom: 5px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
}
.brand_rec_desc {
    margin:auto;
    color: #666;
    height: 36px;
    margin-bottom: 8px;
    overflow: hidden;
}
.brand_rec_split {
    width: 19px;
    height: 3px;
    background: #8b3a6d;
    margin-bottom: 12px;
}
.top_tab {
height: 389px;
}
.top_tab_head {
    padding: 6px 0 7px;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
    width: 370px;
    height: 18px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.top_tab_head_item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    width: 77px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
}
.top_tab_head_item_first {
    margin-left: -10px;
}
.top_tab_active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 58px;
    height: 2px;
    background: #f10214;
}
.top .top_tab_content {
    padding: 10px;
}
.top .top_tab_content_item {
    height: 335px;
    overflow: hidden;
    
}
.top .top_tab_content_item_on {
    display: block;
}
.top_list {
    height: 100%;
}
.top_item {
    position: relative;
    float: left;
    width: 123px;
    text-align: center;
}
.top_lk {
    display: block;
    padding: 12px 0;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.top_pic {
    margin-bottom: 10px;
}
.top_name {
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
    word-break: break-all;
}
.coupon, .entry_c3 {
    margin-bottom: 30px;
}
.coupon {
    height: 215px;
}
.coupon_inner {
    height: 215px;
    background-color: #fff;
}
.coupon_hd {
    float: left;
    width: 190px;
    height: 215px;
    background-color: #ea3524;
}
.coupon_entry {
    display: block;
    padding: 25px;
    width: 140px;
    height: 165px;
    color: #fff;
}
.coupon_entry:hover {
    color: #fff;
}
.coupon_entry_tit {
    margin:0px;
    overflow: hidden;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    font-family: 幼圆;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
}
.coupon_entry_gap {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 55px;
    height: 3px;
    background-color: #fff;
}
.coupon_entry_txt {
    margin:0px;
    height: 20px;
    line-height: 20px;
}
.coupon_entry_btn {
    display: block;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 20px;
    border: 2px solid #fff;
    line-height: 20px;
}
.huan{
    position: relative;
    left:80px;
    top:-17px;
}
.coupon_bd {
    float: right;
}
.coupon_list {
    padding: 10px 0;
}
.coupon_item {
    position: relative;
    float: left;
    width: 199px;
    height: 195px;
    border-right: 1px solid #e7e7e7;
}
.coupon_item_5 {
    width: 200px;
    border-right: 0 none;
}
.coupon_item_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.coupon_info {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 15px;
    width: 100px;
    border-top: 3px solid #e93524;
    background-color: #fff;
}
.mod_price {
    font-size: 14px;
    color: #f10214;
}
.coupon_price {
    margin-bottom:0px;
    overflow: hidden;
    margin-top: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
}
.coupon_desc {
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    color: #e93524;
}
.coupon_desc_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_limit {
    background: #E1E1E1;
    margin:0px;
    overflow: hidden;
    padding: 15px 10px;
    width: 80px;
    height: 36px;
    color: #666;
}
.coupon_limit_txt {
    display: inline-block;
    vertical-align: middle;
}
.coupon_more {
    margin:0px;
    overflow: hidden;
    width: 100%;
    height: 26px;
    background: #e93524;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
}
.coupon_img {
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 140px;
    height: 140px;
}
.coupon_dong:hover{
    position: relative;
    right:1px;
}
em, i {
    font-style: normal;
}
.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.rec {
    height: 100px;
    background-color: #e0e0e0;
}
.chn, .rec {
    margin-bottom: 30px;
}
.rec_list {
    overflow: hidden;
    height: 100px;
}
.rec_item {
    overflow: hidden;
    float: left;
    width: 396px;
    height: 100%;
}
.rec_lk {
    display: block;
    height: 100%;
}
.entry_inner {
    overflow: hidden;
}
.ftit_inner{
    width: 1190px;
    height: 35px;
    margin:0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 20px;
    background-image: url(../images/dian.jpg);
    background-repeat: repeat-x;
}
.ftit_inner h3{
    width: 104px;
    height: 31px;
    margin:0px auto;
    padding:0px 50px;
    background-color: #f6f6f6;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family:幼圆;
}
.entry_list {
    overflow: hidden;
    margin-left: -10px;
    width: 1200px;
}
.entry_c3 .entry_list {
    height: 350px;
}
.entry_item {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
    background-color: #fff;
}
.entry_c3 .entry_item {
    width: 390px;
    height: 170px;
}
.entry_lk {
    display: block;
    width: 100%;
    height: 100%;
}
.entry_bg2{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    opacity: .9;
    backface-visibility: hidden;
}
.entry_c3 .entry_bg2{
    width: 36%;
}
.entry_info {
    margin: 0 auto;
}
.entry_c3 .entry_info {
    padding-top: 45px;
    width: 100px;
    font-size: 14px;
}
.entry_info_tit {
    margin:0px;
    overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    font-family: 幼圆;
    font-weight: 400;
}
.entry_info_desc {
    overflow: hidden;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
}
.chn_t {
    height: 578px;
}
a:hover{
color: #c81623;
}
a {
color: #666;
text-decoration: none;
}
.logo{
    height: 30px;
    background-color: #e0e0e0;
}
.logo_jing{
    position: relative;
    margin-left: 340px;
    padding-top: 10px;
    color: #686868;
}
.logo_nei{
    position: relative;
    margin-left: 750px;
    margin-top: -30px;
}
.logo_nei li{
    padding-right:5px;
    padding-left: 10px;
    margin-left: 10px;
    list-style: none;
    float: left;
}
.Q{
	border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
	margin:0px ;
	padding: 0px ;
	height: 30px;
}
.QA{
	background-color: #e3e4e5;
	margin:0px auto;
	width:1190PX;
	height: 30px;
}
.le{
	float: left;
}
.lr{
	float: right;
}
.lra{
	width: 72px;
	height: 16px;
}
.QAa{
	padding:0px 7px 2px 7px;
	border:1px solid #e3e4e5;

}
.A{
	border:px solid black;
	width:1345px;
	height: 4585px;
	margin:0px auto;
}
.A-a{
	width: 1345px;
	height: 55px;
}
.A-a-1{
	width: 1190px;
	height: 35px;
	margin: 0px auto;
	text-align: center;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 20px;
	background-image: url(../images/dian.jpg);
	background-repeat: repeat-x;
}
.h3-a{
	width: 104px;
	height: 31px;
	margin:0px auto;
	padding:0px 50px;
	background-color: #f6f6f6;
	font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family:幼圆;
}
.ul-1{
	width:1200px;
	height: 3250px;
	margin:0px auto;
	padding:0px;
}
.li-1{
	background-color: white;
	padding:4px;
	margin:3px;
	width: 220px;
	height: 305px;
	display: inline-block;
	border:1px solid white;
}
.li-1:hover{
	border:1px solid red;
}
.a{
	padding: 5px;
}
.B{
	font-size: 10px;
	overflow: hidden;
    margin-bottom: 5px;
    height: 36px;
}
.C{
	margin:0px;
	padding:0px;
	font-size: 16px;
	color: #f10214;
}
.E{
	text-align: center;
	background-color:#e0e0e0;
	padding:auto;
	height: 100px;
	margin-bottom:30px;	
}
.F{
	height: 195px;
	padding:auto;
	margin:0px auto;
	margin-bottom: 30px;
}
.F-f{
	width: 1345px;
	height: 55px;
	margin:0px auto;
}
.F-f-1{
	width: 1190px;
	height: 35px;
	margin: 0px auto;
	text-align: center;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 20px;
	background-image: url(../images/dian.jpg);
	background-repeat: repeat-x;
}
.h3-f{
	width: 78px;
	height: 31px;
	margin:0px auto;
	padding:0px 50px;
	background-color: #f6f6f6;
	font-weight: 400;
    font-size: 26px;
    color: #333;
    font-family:幼圆;
}
.ul-2{
	margin:auto;
	padding: auto;
    width: 1200px;
	height: 140px;
}
.li-2{
	margin:auto;
	padding: auto;
	width: 195px;
	height: 140px;
	list-style:none;
	display: inline-block;

}
.entry_bg{
	width: 95px;
	height: 140px;
	position: absolute;
	margin:0px auto;
	z-index: 2px;	
}
.F-f-1-a-1{
	margin:0px auto;
	width: 85px;
	height: 116px;
	margin: 0 5px;
	padding-top: 32px;
}
.h4-F{
	margin: 0;
    padding: 0;
	overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font:20px 幼圆;
    line-height: 40px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.p-F{
	color: white;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
}
.pt_cloth .pt_hd {
    background-color: #974676;
}
.pt_cloth .pt_tags_item {
    border-color: #c187af;
    color: #fff;
}
.pt_cloth .pt_bi-tit{
    color: #974676;
}
.pt_beauty .pt_hd {
    background-color: #cd375e;
}
.pt_beauty .pt_tags_item{
    border-color: #de7b95;
    color: #fff;
}
.pt_beauty .pt_bi-tit{
    color: #cd375e;
}
.pt_electronic .pt_hd {
    background-color: #78538e;
}
.pt_electronic .pt_tags_item {
    border-color: #9e84b1;
    color: #fff;
}
.pt_electronic .pt_bi-tit {
    color: #78538e;
}
.pt_phone .pt_hd {
    background-color: #5e6c90;
}
.pt_phone .pt_tags_item {
    border-color: #94a1c0;
    color: #fff;
}
.pt_phone .pt_bi-tit {
    color: #5e6c90;
}
.pt_computer .pt_hd {
    background-color: #488bad;
}
.chn_c1 .pt_tags {
    max-width: 1040px;
}
.pt_computer .pt_tags_item {
    border-color: #77b6c3;
    color: #fff;
}
.pt_computer .pt_bi-tit {
    color: #488bad;
}
.chn_c1 .pt_bd {
    float: left;
    width: 570px;
}
.chn_c1 .pt_bd_col2 {
    border-left: 1px solid #e6e6e6;
    margin-left: 15px;
    width: 569px;
    padding-left: 15px;
}
.pt_3c .pt_hd {
    background-color: #3aaba9;
}
.pt_3c .pt_tags_item {
    border-color: #6fcfce;
    color: #fff;
}
.pt_3c .pt_bi-tit {
    color: #3aaba9;
}
.pt_sport .pt_hd {
    background-color: #568e7d;
}
.pt_sport .pt_tags_item {
    border-color: #79aa9e;
    color: #fff;
}
.pt_sport .pt_bi-tit {
    color: #568e7d;
}
.pt_eat .pt_hd {
    background-color: #eeb924;
}
.pt_eat .pt_tags_item {
    border-color: #f9d661;
    color: #fff;
}
.pt_eat .pt_bi-tit {
    color: #eeb924;
}
.pt_more_item {
    float: left;
    width: 183px;
    height: 130px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.pt_baby .pt_tags_item{
    border-color: #ef9f81;
    color: #fff;
}
.pt_baby .pt_bi-tit{
    color: #e16c46;
}
.pt_baby .pt_hd{
    background-color: #e16c46;
}
.pt_family .pt_tags_item{
    border-color: #c19669;
    color: #fff;
}
.pt_family .pt_bi-tit{
    color: #a56741;
}
.pt_family .pt_hd{
    background-color: #a56741;
}
.pt_hd {
    height: 26px;
    padding: 16px 20px 16px 25px;
    overflow: hidden;
}
.pt_reading .pt_tags_item {
    border-color: #9e8a84;
    color: #fff;
}
.pt_reading .pt_bi-tit {
    color: #756059;
}
.pt_reading .pt_hd {
    background-color: #756059;
}
.pt_car .pt_hd {
    background-color: #865454;
}
.pt_car .pt_tags_item {
    border-color: #9e8a84;
    color: #fff;
}
.pt_car .pt_bi-tit{
    color: #865454;
}
.chn .chn_col2 {
    margin-right: 0;
}
.chn{
	height: 523px;
}
.chn_col{
	float: left;
    margin-right: 10px;
    overflow: hidden;
    width: 590px;
}
.chn, .rec {
    margin-bottom: 30px;
}
.chn_c3 .chn_col {
    width: 390px;
}
.chn_c3 .chn_col3 {
    margin-right: 0;
}
.pt_game  .pt_hd {
    background-color: #6467a0;
}
.pt_travel .pt_hd{
	background-color: #5981a3;
}
.pt_finance .pt_hd{
	background-color: #5a7259;
}
.pt_hd{
	height: 26px;
    padding: 16px 20px 16px 25px;
    overflow: hidden;
}
.pt_bd_wrapper {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}
.pt_bd {
    position: relative;
    overflow: hidden;
}
.pt_bd_inner {
    width: 200%;
}
.pt_bd_hide{
    position: absolute;
    right: -10px;
    background-color: #fff;
    width: 10px;
    height: 1000px;
    top: 0;
}
.pt_ft{
    padding:10px 0 0;
    clear: both;
    background-color: #fff;
}
.pt_logo{
    position: relative;
    padding: 0;
}
.pt_logo_list_wrapper {
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.pt_logo_item {
    list-style: none;
    float: left;
    border-right: 1px solid #dedfe0;
    padding: 0 12px;
    height: 20px;
    margin-top: 7px;
}
.pt_logo_item_wu{
    border-right: 0px;
}
.pt_logo_img {
    display: block;
    width: 70px;
    height: 35px;
    margin-top: -7px;
}
.ul-3{
    width: 1520px;
    height: 27px;
    margin:0px;
    padding:0px;
}
.pt_cover {
    float: left;
    width: 183px;
    height: 260px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}
.pt_bi_2 {
    width: 188px;
}
.pt_bi {
    float: left;
    width: 376px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.pt_bi_split {
    position: absolute;
    display: block;
}
.pt_bi_split_h {
    top: 130px;
    left: 0;
    width: 500px;
    height: 1px;
    background-color: #e6e6e6;
}
.pt_bi_split_v {
    top: 0px;
    left: 188px;
    width: 1px;
    height: 500px;
    background-color: #e6e6e6;
}
.pt_bi_item {
    position: relative;
    float: left;
    width: 188px;
    height: 130px;
}
.pt_bi_item_ding{
    position: relative;
    left:-188px;
    top:130px;
}
.pt_bi-tit{
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 14px;
    z-index: 1;
}
.pt_game .pt_bi-tit{
    color:#6467a0; 
}
.pt_travel .pt_bi-tit{
    color: #5981a3;
}
.pt_finance .pt_bi-tit{
    color: #5a7259;
}
.pt_bi-promo{
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 12px;
    color: #666;
    z-index: 1;
}
.chn_c3 .pt_bi_img {
    right: 10px;
}
.pt_bi_img {
    position: absolute;
    bottom:13px;
    display: block;
    width: 100px;
    right: 10px;
    height: 100px;
    background-color: #f7f7f7;
}
.pt_more {
    clear: both;
    height: 130px;
    overflow: hidden;
    padding-top: 10px;
}
.pt_tit {
	margin:0px auto;
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    font-weight: 400;
    max-width: 100px;
    font-family:幼圆;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chn_c3 .pt_tags {
    max-width: 240px;
}
.pt_tags {
    float: right;
    max-width: 440px;
    overflow: hidden;
    height: 28px;
    text-align: right;
}
.pt_game .pt_tags_item {
    border-color: #9598cd;
    color: #fff;
}
.pt_travel .pt_tags_item {
    border-color: #82a5bc;
    color: #fff;
}
.pt_finance .pt_tags_item {
    border-color: #78977a;
    color: #fff;
}
.pt_tags_item{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
   
    text-decoration: none;
}
.pt_tags_item:hover{
	border-color: white;
}
.mod_footer {
    height: 500px;
    background-color: #eaeaea;
}
.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.mod_service_list {
    overflow: hidden;
    height: 42px;
}
.mod_service_item {
    float: left;
    width: 297px;
}
.mod_help {
    padding: 20px 0;
}
.mod_help_list {
    overflow: hidden;
    height: 160px;
}
.mod_help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}
.mod_help_nav_tit{
    margin-top: 0px;
    margin-bottom:5px;
    font-size:14px;
    color:#6A6A6A;
}
.mod_help_cover{
    float: right;
    width: 200px;
    height: 150px;
}
.mod_help_cover_tit {
    color:#6A6A6A;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.mod_help_cover_con {
    padding: 0 10px;
}
.mod_help_cover_info{
    color: #666;
}
.mod_help_cover_more {
    text-align: right;
}
.mod_copyright_inner {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}
.mod_copyright_split {
    margin: 0 2px;
    color: #CBCBCB;
}
.mod_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
.mod_copyright_info a {
    color: #999;
}
.mod_copyright_license {
    margin-left: 16px;
}
.lift {
    display: none;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #918888;
}
.lift_item {
    border-top: 1px solid #b1aaaa;
    transition: background-color .5s;
}
.lift_item_first {
    border-top: none;
}
.lift_btn {
    overflow: hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
}
.lift a{
    color: #fefefe;
}
.lift a:hover{
    color: #fefefe;
}
.lift li:hover{
    background:#c81623;
}
.lift_item_top, .lift_item_top:hover {
    border-top: 1px solid #f6f6f6;
    background-color: #5e4a4a;
    border-bottom: 0;
    margin-bottom: 0;
}
.lift_btn_arrow {
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #5e4a4a #5e4a4a #fff;
}
.lift_btn_top{
     overflow: hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #5e4a4a;
    transition: color .1s;
}
.lift .lift_btn_top:hover{
    background: #5e4a4a;
}
.yinyue{
    text-align: center;
   position: absolute;
   top:30px;
   left: 60px;
}
.jia:hover{
    position: relative;
    top:-1px;
}
