body{background-color: #cccccc}
li{list-style-type: none;

	padding: 4px;
	margin-left: 2px;
	
	text-decoration: none;}
ul{clear: left;
	margin:20px;
	padding: 0px;
	}
a{text-decoration: none;
	border-color: gray black black gray;
	background-color:#ffaadd;

	font-size: 20px;
	padding: 10px;
	color: yellow;
	border-width:20px;
	border-left-style: solid;
	border-left-width: 25px; 
	border-left-color:blue;}
a:hover{border-color: black gray;
	background-color:pink;}