body{background-color: #cccccc;
	font-size:14px;}
div1{font-size:2em;}
div2{font-size:100px;}
div3{font-size:50%;}
.LMW{color:blue;
text-decoration: underline;
}
.a{href="www.baidu.-webkit-columns: ;
-moz-columns: ;
-o-columns: ;
columns: ;"}
.lmw{height: 70px;width: 70px;}